.App {
  text-align: center;
}

table {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  table-layout: fixed;
  border-collapse: collapse;
  border: 3px solid black;
}

th {
  padding-inline: 10px;
}

tr {
  border: 2px solid black
}

td {
  padding-inline: 5px;
}

.shoe {
  padding-inline: 10px;
}

.icon:hover {
  color: slategray;
  cursor: pointer;
}

footer {
  margin: 20px;
}